html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
	font-family: 'Open Sans', Arial, sans-serif;
}
p, a {
	font-family: 'Open Sans', Arial, sans-serif;
}

.navbar{
	margin-bottom:0;
	border-radius:0;
	position: fixed;
	width: 100%;
	opacity: 1;
	z-index: 2;
}

.jumbotron {
  background: url("../img/wall2.png") no-repeat;
  min-height: 600px;
  background-size: cover;
  background-attachment: fixed;
	margin-bottom:0;
	opacity: 1;
}

.jumbotron h1{
  color: #fff;
	margin-top: 150px;
	font-size: 80px;
	opacity: 0.9;
}

.jumbotron p{
  color: #fff;
	font-size: 20px;
	opacity: 0.9;
}

.carousel {
    z-index: 1;
}

.carousel-inner > .item > img {
    margin: 0 auto;
		width: auto;
	  height: 550px;
	  max-height: 550px;
}

.carousel-indicators li {
	border-radius: 0;
}

.bg-color-divider {
	background-color: #f2f2f2;
}

.pricelist-bg-color {
	background-color: #0099ff;
}

.pricelist-bg-color p {
	color: #fff;
}

.table-striped{
	background-color: white;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #99d6ff;
 }

.pricelist-padding {
	padding-top: 20px;
	padding border-bottom: 20px;
	background-color: #0099ff;
}

.list-inline {
	margin-top: 10px;
}

.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}

.col-md-6 > img {
	width: auto;
	height: 350px;
}
